/*------------------------
----  SECTIONS
------------------------*/

.hero-slider {
	width: 100%;
	.slide-content {
		position: relative;
		max-width: 1200px;
		width: 92%;
		margin: 0 auto;
		
		
		text-align: left!important;
		.slide-inner {
			width: 30%;
			padding: 8.7rem 9.4rem 8.7rem 13.4rem;
			background-color: $c-mainBlue;
		}
		h2 {
			margin-bottom: 4rem;
			font-family: $styledFont;
			font-size: 22px;
			line-height: 1.36;
			letter-spacing: 3px;
			color: $c-white;
			white-space: pre;
    		text-align: left;
		}
		a {
			font-size: 14px;
			color: $c-mainGold;
		}
	}
	.slick-slider-1 .slick-slide .slide-image {
		min-height: 640px;
	}
	.arrows-wrapper {
		@include absolute(center-vertical);
		width: 68px;
		span {
			display: block;
		}
	}
	.slick-arrow {
		position: relative;
		margin: 5px 0;
		background-color: $c-mainGold;
		height: 56px;
		i {
			@include absolute(center);
		}
	}
}

.section-title {

	margin-bottom: 32px;
	font-family: $styledFont;
	font-size: 30px;
	line-height: 1.8;
	letter-spacing: 5px;
	text-align: center;
	color: $c-black;
	text-transform: uppercase;

}

.categories-list {
	@extend %clearfix;
	position: relative;
	padding: 43px 0 60px;
	.container {
		position: relative;
	}

	.category-item {
		display: inline-block;
		width: 32%;
		margin-right: 2%;
		position: relative;
		margin-bottom: 28px;
		
		.img-wrapper {
			width: 100%;
			img {
				width: 100%;
			}
		}
		h3 {
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			color: $c-black;
			background-color: $c-mainBaige;
			height: 56px;
			span {
				display: block;
				width: 80%;
				@include absolute(center);
				text-align: center;
				letter-spacing: 1.8px;
			}
		}
	}
	.small {
		height: 248px;
		overflow: hidden;
		&:nth-of-type(1) {
			float: left;
		}
		&:nth-of-type(2) {
			float: right;
			margin-right: 0;
		}
		&:nth-of-type(4) {
			position: absolute;
			left: 0;
			top: 360px;
		}
		&:nth-of-type(5) {
			float: left;
			margin-right: 0;
		}
	}
	.big {
		float: left;
		height: 523px;
		overflow: hidden;
	}
}

.products-list {
	padding: 50px 0;
	background-color: $c-mainBaige; 
	.container {
		position: relative;
		max-width: 1220px;
	}
	.slick-arrow {
		@include absolute(center-vertical);
		i {
			font-size: 34px;
		}
	}
	.slide-promo-prev {
		left: -50px;
	}
	.slide-promo-next {
		right: -50px;
	}
}

.promo-box-list-wrapper {

	img {
		width: 100%;
	}

	.slick-slide {
		margin: 0 10px;
	}
}

.promo-box {
	.img-wrapper {
		margin-bottom: 18px;
	}
	h3 {
		margin-bottom: 15px;
		font-size: 20px;
		color: $c-textGrey;
		text-transform: uppercase;
	}
	hr {
		margin: 11px 0 16px;
		width: 100%;
		height: 3px;
		border: none;
		background-color: $c-mainGold;
	}
	.promo-text {
		font-size: 13px;
		line-height: 1.6;
	}
}

.brands-list {
	padding: 40px 0;
	.container {
		position: relative;
		max-width: 1220px;
	}
	.brand-list-wrapper {
		position: relative;
	}
	.slick-slide {
		position: relative;
		text-align: center;
		min-height: 80px;
		img {
			@include absolute(center);
			display: inline-block;
		}
	}
	.slick-arrow {
		@include absolute(center-vertical);
		i {
			font-size: 34px;
		}
	}
	.slide-brand-prev {
		left: -50px;
	}
	.slide-brand-next {
		right: -50px;
	}
}

.newsletter {
	padding: 30px 0;
	@extend %clearfix;
	background-color: $c-blue;
	.container {
		position: relative;
		overflow: hidden;
	}
	&-content {
		@include absolute(center-vertical);
	}
	&-title {
		display: inline-block;
		margin-right: 6.7rem;
		font-size: 20px;
		line-height: 0.9;
		color: $c-white;
	}
	&-text {
		display: inline-block;
		font-size: 15px;
		line-height: 1.6;
		color: $c-white;
		text-transform: uppercase;
	}
	&-input {
		float: right;
		position: relative;
	}
	.input-wrapper {
		width: 48rem;
		height: 50px;
		input {
			width: 100%;
			height: 100%;
			padding: 0 18px;
			outline: none;
		}
	}
	button {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 30px;
		height: 50px;
		background-color: $c-mainGold;
		border: none;
		color: $c-white;
		text-transform: uppercase;
		outline: none;
		cursor: pointer;
	}
}